*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
html,
 body{
    height: 100%;
    width:100%;
    background-color: black;
 }
 .nav{
    padding: 20px 20px;
    color:white;
    display: flex;
    justify-content: space-between;
 }
 .navbar{
    color: white;
    display: flex;
    gap: 30px;
 }
 h1{
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 80px;
    white-space: nowrap;
 }