*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
html,
body{
    height: 100%;
    width: 100%;
}

.page1{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width:100%;
    background-color: rgb(37, 201, 255);
}
.page2{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width:100%;
    background-color: rgb(39, 194, 246);
}
.page3{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width:100%;
    background-color: rgb(47, 176, 219);
}
.page4{
    height: 100%;
    width: 100%;
    background-color: rgb(11, 147, 192);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}
.box{
    height: 200px;
    width: 200px;
    background-color: red;
}
.page4 h1{
   background-color: red;
}
.page4 h2{
    background-color: yellow;
    font-size: 40px;
}
