*{
    margin: 0%;
    padding: 0%;
}
body,html{
    height: 100%;
    width: 100%;
}
.cards{
   height: 100%;
   width: 100%;
   background-image: url(https://i.pinimg.com/1200x/ed/d8/a2/edd8a2d8b6e2c8aa93e92c65b9f1a8c0.jpg);
   background-size: cover;
   background-color: #030001;
   display: flex;
   justify-content:right;
   align-items: center;
   gap: 20px;
   
}
.card1{
    height: 400px;
    width: 300px;
    background-color: darkorchid;
    overflow: hidden;
    border: 7px solid brown;
    border-radius: 20px;
    
}
.card1 img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition:all 0.5s cubic-bezier(0.19, 1, 0.22, 1);
}
.card2{
    height: 400px;
    width: 300px;
    background-color: tomato;
    overflow: hidden;
    border: 7px solid brown;
    border-radius: 20px;
}
.card2 img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.card3{
    height: 400px;
    width: 300px;
    background-color: teal;
    overflow: hidden;
    border: 7px solid brown;
    border-radius: 20px;
}
.card3 img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: all .5s cubic-bezier(0.19, 1, 0.22, 1);
}
.cards h1{
    color: white;
    font-family:Verdana, Geneva, Tahoma, sans-serif; 
     position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 50px;
}

.cards img:hover{
    scale: 1.2;
    
}