*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
}
.bg{
    height: 85%;
    width:100%;
    background-image: url(https://wallpapercave.com/wp/wp12183303.jpg);
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 15%;
}
.navbar{
    height: 50px;
    width: 100%;
    display: flex;
    background-color: white;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.navbar .login a{
    color: white;
    background-color: darkblue;
    
    
}
.navbar a{
    padding: 10px;
    color:black;
    font:bold;
    text-decoration: none;
    font-size: 17px;
    font-family:  sans-serif;
}
.navBar{
    position: absolute;
    left: 20%;
    height: 50px;
    width: 80%;
    display: flex;
    background-color: white;
    justify-content:center;
    align-items: center;
    gap: 20px;
}
.navBar a{
    color: black;
    text-decoration: none;
    font-weight: bold ;
    font-size: 17px;
}
.book{
    height: 70%;
    width: 40%;
    background-color:rgba(255, 255, 255, 0.53);
    backdrop-filter: blur(30px);
    position: absolute;
    top: 5%;
    left: 5%;
    display: flex   ;
    position: relative;
    justify-content: space-evenly;

}
.book .pnr h2{
    width: 305px;
    text-align: center;
    color: white;
    background-color: darkblue;
    font-family: 'Courier New', Courier, monospace;
}

.book .chart h2{
    width: 305px;
    text-align: center;
    left: 200px;
    color: white;
    background-color: darkblue;
    font-family: 'Courier New', Courier, monospace;
}
.book .name h1{
        position: absolute;
        top: 10%;
        right: 30%;
        color: darkblue;
}
.form{

    /* height: 10%; */
    /* width: 10%; */
    position: absolute;
}
.form form{
    position: absolute;
    top: 200px;
    right: -75px;
}
    