*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
}
.main{
    height: 100%;
    width: 100%;
}
.main .image{
    height: 100%;
    width: 35%;
    background-image: url(https://i.pinimg.com/1200x/4a/5e/53/4a5e5347d9e679d6deaf0acaebec23d6.jpg);
    background-position: top;
    background-size: cover;
    position: absolute;
    top: 0%;
    left: 54%;
}
.image .circle{
    height: 65px;
    width: 65px;
    background-color: red;
    border-radius:50%;
    position: absolute;
    top: 50%;
    left:-32px;
    transform: translate(-0%, -50%);
    box-shadow: 0px 0px 50px rgb(255, 0, 0);
}
.circle i{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 25px;
    color: rgba(255, 255, 255, 0.68);
    cursor:pointer;
}

.pannel{
    height: 100%;
    width: 11%;
    background-color: red;
    position: absolute;
    top:0%;
    right:0%

}

.pannel .top{
    position: relative;
    width: 100%;
    height: 50%;
    background-color: black;
}
.pannel .bottom{
    width: 100%;
    height: 50%;
    background-color: red;
}

.pannel .top i{
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 25px;
    color: rgba(255, 255, 255, 0.68);
    cursor:pointer;
}