*{
 margin: 0%;
 padding: 0%;
 box-sizing: border-box;   
}
html,body{
    height: 100%;
    width: 100%;
}
 
.space i{
position: absolute;
    transform: translateX(100%);
}

/* .image img{
    position: absolute;
    transform: translate(-40% ,-30%);
} */